/*------------------*/
/*reset*/
/*------------------*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: orange;
}

s a:active {
  outline: 0;
  color: crimson;
}

.bui-icon,
address,
cite,
dfn,
em,
i,
var {
  font-style: normal;
}

/* 按钮文本不可选 */
button {
  user-select: none;
}

img {
  vertical-align: middle;
}

/* 加载不出来的图片不要显示灰色边框 */
img:not([src]),
img[src=""] {
  opacity: 0;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
button,
textarea {
  font-size: 100%;
  font: inherit;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

/*清除浮动*/
clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 56.25px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 62.5px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}

@media screen and (min-width: 440px) {
  html {
    font-size: 68.75px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 75px;
  }
}

@media screen and (min-width: 520px) {
  html {
    font-size: 81.25px;
  }
}

@media screen and (min-width: 560px) {
  html {
    font-size: 87.5px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 93.75px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 100px;
  }
}

@media screen and (min-width: 680px) {
  html {
    font-size: 106.25px;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 112.5px;
  }
}

@media screen and (min-width: 760px) {
  html {
    font-size: 118.75px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 125px;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 150px;
  }
}
